LobsterWpf/LobsterSettings/ClobType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clobtype" nillable="true" type="clobtype" />
  <xs:complexType name="clobtype">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="enabled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="directory" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="includeSubDirectories" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="loaderStatement" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="tables" type="ArrayOfTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTable">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="table" nillable="true" type="table" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="table">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="schema" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="defaultExtension" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="columns" type="ArrayOfColumn" />
      <xs:element minOccurs="0" maxOccurs="1" name="parentTable" type="table" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfColumn">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="column" nillable="true" type="column" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="column">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="purpose" type="Purpose" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataType" nillable="true" type="Datatype" />
      <xs:element minOccurs="0" maxOccurs="1" name="mimeTypes" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequence" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Purpose">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ID" />
      <xs:enumeration value="CLOB_DATA" />
      <xs:enumeration value="MNEMONIC" />
      <xs:enumeration value="DATETIME" />
      <xs:enumeration value="FOREIGN_KEY" />
      <xs:enumeration value="MIME_TYPE" />
      <xs:enumeration value="FULL_NAME" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Datatype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLOB" />
      <xs:enumeration value="BLOB" />
      <xs:enumeration value="XMLTYPE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="string" nillable="false" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>